body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(top, #FEC516 0%, #F05A25 100%);
    overflow: hidden;
    font-family: 'Helvetica';
    -webkit-app-region: drag;
}

.hidden {
    display: none;
}

.player-count-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-count {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #eef7fc;
}

.player-container-circle,
.player-container-circle:after {
    border-radius: 50%;
    width: 20em;
    height: 20em;
}

.player-container-circle {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #eef7fc;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    animation: turn-round .5s infinite linear;
}

.button-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

button {
    margin-bottom: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
    font-size: 1.125rem;
    padding: .5rem 2.5rem;
    font-weight: bold;
    border: none;
    outline: none;
    transition: .25s all ease;
    width: 200px;
}

button.start {
    background: #F59E1E;
    color: #eef7fc;
}

button.start:hover {
    background: #CC8119;
}

button.end {
    background: #F05A25;
    color: #eef7fc;
}

button.end:hover {
    background: #BA441D;
}

button.quit {
    background: #0D2644;
    color: #FFF;
}

button.quit:hover {
    background: #0B213A;
}

button:hover {
    transform: scale(1.025);
    box-shadow: 0 8px 4px rgba(0, 0, 0, .25);
}

@keyframes turn-round {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}